ul {
  list-style: none;
}
body.dark_mode {
  fill: black;
}

.dark-mode {
  background-color: rgb(18, 18, 18);
  color: white;}
  
.light-mode{ width: 73px;
  height: 64px;
  position: fixed;
  right: 28px;
  top: 155px;
}


.header-home {
  background-repeat: no-repeat;
  background-image: url('./images/background-header-1x-m.png');
  background-position: center;
  background-size: 100%;
  min-width: 280px;
  height: 460px;
  border-radius: 15px;
  padding: 0 14px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-home {
    background-image: url('./images/background-header-2x-m.png');
  }
}

.site-nav-list {
  display: flex;
  gap: 5px;
  padding: 14px 0 8px 8px;
}

.site-nav-button {
  font-size: 12px;
  font-weight: 500;
  color: black;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 10px 26px;
}

.home-btn {
  padding: 10px 22px;
}

.search-form {
  border-radius: 100px;
  background: #fff;
  border: none;
  padding: 10px 0 10px 14px;
  height: fit-content;
}


.search-form-button{
  background: transparent;
  border: none;
}
.icon-search {
  margin-left: 70px;
}
.search-form-input {
  border: none;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 14px;
  border: none;
  border-radius: inherit;
}

.input {
  border: none;
  outline: none;
}


.cover{
  display: flex;
  justify-content: center;
  color: #FFF;
  align-items: end;
  margin-left: 55px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px 0 15px 60px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.header-logo {
    fill: #FFF;
}

/*----Design Tablet----*/
@media (min-width: 768px) {
  .header-home {
    background-repeat: no-repeat;
    background-image: url('./images/background-header-1x-t.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-home {
      background-image: url('./images/background-header-2x-t.png');
    }
  }
.container-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
} 
.search-form {
  display:inline-block;
  position: relative;

}
 .logo-container {
  justify-content: flex-start;
 }
//  .site-nav-list{
//   padding: 15px 0 29px 163px 
//  }
}
/*----Design Desktop---*/
@media (min-width: 1280px) {
  .header-home {
    background-image: url('./images/background-header-1x-d.png');
    padding: auto;
    margin: auto;
    height: 316px;
    width: 1216px;
  }

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-home {
      background-image: url('./images/background-header-2x-d.png');
  }

  }
  .search-form {
    position: relative;
    max-width: 336px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  
  .search-form-button {
    position: absolute;
    top: 8px;
    right: 10px;
    outline: none;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-logo {
  width: 59px;
  height: 59px;
}

  .title {
  color: #FFF;
  font-size: 64px;
  font-weight: 500;
}

  }