<div class="header-container">
    <header class="header-home">

            <nav>
                <ul class="site-nav-list">
                    <li class="site-nav-item">
                        <button class="site-nav-button home-btn" data-request="Home" aria-label="home">Home</button>
                    </li>
                    <li class="site-nav-item">
                        <button class="site-nav-button" data-request="library" aria-label="my library">My library</button>
                    </li>
                </ul>
            </nav>

        <form class="search-form">
            <input class="search-form-input" name="query" placeholder="Movie Search" aria-label="movie search"
                autocomplete="off">
            <button type="submit" class="search-form-button" aria-label="search">
                <svg class="icon-search" width="14" height="14">
                    <use href="./icons/symbol-defs.svg#icon-search"></use>
                </svg>

            </button>
        </form>
        <div class="error-container">
            <p class="header-error"> Search result is not succesful. Enter the correct movie name and press
                enter
            </p>
        </div>
        <div class="cover">
            <div class="logo-container">
                <svg class="header-logo" width="32" height="32">
                    <use href="/src/icons/symbol-defs.svg#icon-film"></use>
                </svg>
                <h1 class="title"> Filmoteka</h1>
            </div>
        </div>
    

</header>
</div>